<a href="https://colab.research.google.com/github/KelvinLam05/cash_book/blob/main/2018_income_%26_expenses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import the package**

In [1]:
# Importing library
import pandas as pd

**Load the data**

For the cash book Iâ€™ve used a [personal transaction dataset](https://www.kaggle.com/datasets/bukolafatunde/personal-finance) from Kaggle.

In [2]:
# Load dataset
df = pd.read_csv('/content/personal_transactions.csv')

In [3]:
# Examine the data
df.head()

,Date,Description,Amount,Transaction Type,Category,Account Name
0,01/01/2018,Amazon,11.11,debit,Shopping,Platinum Card
1,01/02/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,Checking
2,01/02/2018,Thai Restaurant,24.22,debit,Restaurants,Silver Card
3,01/03/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card
4,01/04/2018,Netflix,11.76,debit,Movies & DVDs,Platinum Card

In [4]:
# Overview of all variables, their datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              806 non-null    object
 1   Description       806 non-null    object
 2   Amount            806 non-null    float64
 3   Transaction Type  806 non-null    object
 4   Category          806 non-null    object
 5   Account Name      806 non-null    object
dtypes: float64(1), object(5)
memory usage: 37.9+ KB

**Prepare the data**

In [15]:
df[['Category', 'Transaction Type']].value_counts()

Category                Transaction Type
Credit Card Payment     debit               143
Groceries               debit               105
Restaurants             debit                81
Utilities               debit                63
Shopping                debit                60
Gas & Fuel              debit                52
Paycheck                credit               46
Home Improvement        debit                36
Coffee Shops            debit                31
Alcohol & Bars          debit                25
Internet                debit                21
Mobile Phone            debit                21
Mortgage & Rent         debit                21
Music                   debit                21
Auto Insurance          debit                18
Movies & DVDs           debit                18
Fast Food               debit                16
Haircut                 debit                13
Television              debit                 8
Electronics & Software  debit                 4
Food & Dining           debit                 2
Entertainment           debit                 1
dtype: int64

In [6]:
# Change credit card payment type to debit
df.loc[df['Category'] == 'Credit Card Payment', 'Transaction Type'] = 'debit'

In [7]:
# Convert the date to datetime64
df['Date'] = pd.to_datetime(df['Date'])

In [8]:
# Filter data for specific year (2018)
filtered_df = df.loc[df['Date'].dt.year == 2018]

In [ ]:
# Capitalize first letter
filtered_df['Transaction Type'] = filtered_df['Transaction Type'].str.capitalize()

In [ ]:
# Convert the column 'Amount' from float to string
filtered_df['Amount'] = filtered_df['Amount'].astype(str)

In [ ]:
# Change decimals to commas 
filtered_df['Amount'] = filtered_df['Amount'].str.replace('.', ',')

In [12]:
# Only include the relevant columns
filtered_df = filtered_df[['Date', 'Category', 'Description', 'Transaction Type', 'Amount']]

In [13]:
# View new dataframe
filtered_df.head()

,Date,Category,Description,Transaction Type,Amount
0,2018-01-01,Shopping,Amazon,Debit,"11,11"
1,2018-01-02,Mortgage & Rent,Mortgage Payment,Debit,"1247,44"
2,2018-01-02,Restaurants,Thai Restaurant,Debit,"24,22"
3,2018-01-03,Credit Card Payment,Credit Card Payment,Debit,"2298,09"
4,2018-01-04,Movies & DVDs,Netflix,Debit,"11,76"

In [14]:
# Convert dataframe to csv
filtered_df.to_csv('/content/2018_income_&_expenses.csv', index = None, header = True)